/*  CSS Sıfırlama */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.main {
  height: 644px;
  background-image: url("./images/TR-tr-20231120-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-position: center center;

  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  position: relative;
}

.main .box {
  position: absolute;
  background-color: black;
  top: 0;
  width: 100%;
  height: 644px;
  opacity: 0.6;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 60vw;
  margin: auto;
  height: 100px;
}

.nav img {
  width: 130px;
}

.nav span {
  z-index: 10;
}

.nav .buttons {
  z-index: 10;
}

.btn {
  padding: 3px 8px;
  background-color: rgba(248, 243, 243, 0.021);
  color: white;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid white;
  font-size: 16px;
}

.btn-red {
  background-color: red;
}

/* Hero Alanı */

.hero {
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 0 30px;
  height: calc(100vh - 100px);
}

.hero > :nth-child(1) {
  font-size: 50px;
  font-weight: bold;
}

.hero > :nth-child(2) {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.hero > :nth-child(3) {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.hero-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-self: center;
}

.hero-buttons :nth-child(1) {
  padding: 7px 101px 8px 14px;
  font-size: 12px;
  outline: none;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(179, 179, 179);
  border-radius: 4px;
}

.hero-buttons :nth-child(2) {
  padding: 8px 24px;
  font-size: 18px;
}

/* Herbir alan arasında yer alan çizgi */

.seperation {
  border: 3px solid rgb(54, 54, 54);
}

/* İçerik Alanı */

.first {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70vw;
  margin: auto;
}

.secImg {
  position: relative;
}

.secImg img {
  width: 555px;
  position: relative;
  z-index: 10;
}

.secImg video {
  position: absolute;
  width: 471px;
  right: 10px;
  top: 50px;
}

.first h1 {
  font-size: 48px;

  font-weight: bold;
}

.first p {
  font-size: 24px;
  margin-top: 10px;
}

/*  Sıkça Sorulan Sorular Alanı */

.faq {
  color: white;
  padding: 35px;
}

.faq h2 {
  text-align: center;
  font-size: 48px;
}

.faq-box {
  background-color: #272727;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  padding: 24px;
  margin: 34px auto;
  cursor: pointer;
  max-width: 60vw;
  transition: all 0.3;
}

.faq-box:hover {
  background-color: rgb(23, 23, 23);
}

/*  Footer Alanı */

.footer {
  color: white;
  max-width: 60vw;
  margin: auto;
  margin-bottom: 100px;
}
.footer .questions {
  padding: 34px 0;
  font-size: 25px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer .footer-item {
  display: flex;
  flex-direction: column;
}

.footer .footer-item a {
  color: white;
  margin-top: 20px;
  font-size: 18px;
  transition: all 0.3;
}

.footer .footer-item a:hover {
  color: rgba(197, 41, 41);
}

/* Responsive Tasarım */

@media (max-width: 1200px) {
  .first {
    flex-direction: column;
    text-align: center;
  }

  .first h1 {
    margin-top: 25px;
    font-size: 35px;
  }

  .first p {
    font-size: 15px;
    margin-top: 10px;
  }
}
